@import "./buttonLink.css";

.container {
  margin: auto;
  width: max-content;
  max-width: 100%;
  text-align: center;
}

.spacer {
  padding: 0.6rem;
}

@font-face {
  font-family: Asap;
  src: local('Asap'), url("./Asap-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: SourceSerif4;
  src: local('Source Serif 4'), url("./SourceSerif4-Regular.woff2") format("woff2");
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Asap, sans-serif;
}

* {
  font-family: SourceSerif4, serif;
}
