<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Class }} - OSU Class Data</title>
    <link rel="canonical" href="https://osuclassdata.ethohampton.com/class/{{ .Class }}">


    <script type="module" src="/class.js"></script>
    <link rel="stylesheet" href="/class.css">

    <link ref="preloadReplace"><!--handled by build script-->
    <link ref="preload" href="/css/Asap-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link ref="preload" href="/css/SourceSerif4-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <script async defer data-website-id="ea753981-e9c9-406d-ab43-6a3e69aea824" data-domains="osuclassdata.ethohampton.com" data-css-events="false" src="https://stats.ethohampton.com/stats.js"></script>
</head>

<body>
</body>

</html>
