name: End to End Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  build:
    name: End to End Test
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: my-secret-pw
          MYSQL_DATABASE: OSUClassData
        #volumes:
        #  - /tmp/sql:/tmp/sql
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.21"
    
    - name: Set up nodejs
      uses: actions/setup-node@v6
      with:
        node-version: "20"
        cache: 'npm'
        cache-dependency-path: 'cmd/server/frontend/package-lock.json'

    - name: Install npm dependencies and build frontend
      run: |
        cd cmd/server/frontend
        npm ci
        node build.js ci

    - name: Set up MySQL
      run: |
        cat ./sql/initialSchema.sql | mysql -P3306 -h 127.0.0.1 -u root -pmy-secret-pw
        cat ./sql/testData.sql | mysql -P3306 -h 127.0.0.1 -u root -pmy-secret-pw

    - name: Start dev server
      run: ./scripts/devServer.sh &

    - name: Run tests
      env: 
        DEV: true # this is so it doesn't try to start the database or dev server
      run: ./scripts/e2eTesting.sh
